#Пример .env файла


#Общие

#Адрес бекенда
BACKEND_URL=https://<Хост вашего бекенда>/

#Хост бекенда(хост, по которому идут запросы на бекенд)
BACKEND_HOST=<Только хост>

#Адрес фронтенда
FRONTEND_URL=https://<Хост вашего фронтенда>/

#Хост фронтенда(хост, по которому идут запросы на фронтенд)
FRONTEND_HOST=<Только хост>


#Для работы с хранилищем

#Имя пользователя хранилища
REPO_USER=<имя пользователя>

#Пароль пользователя хранилища
REPO_PASSWORD=<пароль>

#Адрес
REPO_ADDR=<хост хранилища>:<1111>

#Максимальное количество попыток переподключения
REPO_MAX_RETRIES=<11>

#Таймаут для установления новых соединений
REPO_DIAL_TIMEOUT=<11>

#Таймаут чтения
REPO_READ_TIMEOUT=<11>

#Таймаут записи
REPO_WRITE_TIMEOUT=<11>


#Для работы с авторизацией hh.ru

#Идентификатор, полученный при создании приложения
CLIENT_ID

#Защищенный ключ, полученный при создании приложения
CLIENT_SECRET

#Название приложения
APP_NAME=<Название приложения>

#Версия приложения
APP_VERSION=<1.1.1>

#Почта разработчика
DEV_CONTACT=<имя пользователя>@<домен>

#Ссылка, на которую перенаправит пользователя hh.ru после получения кода для его обмена на токены
REDIRECT_URI=https://<хост вашего приложения>/<путь до авторизации>